    <div class="tile is-parent is-8">
      <h2>action panel</h2>
      <ul>
        <li>Create Group</li>
        <li>Create Bulletin</li>
        <li>Settings and preferences (i.e change account info)</li>
      </ul>
    </div>