<section class="contact">
  <ul>
    <li>
      <a href="https://github.com/MaxFrank13/Virtual-Bulletin" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/CrayonProfessor" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
  </ul>
</section>