    <div class="tile is-parent is-vertical records-panel">
      <article class="tile is-child">
        <h3 class="tag is-large is-dark">Your groups</h3>
        <span class="tags are-medium">
          {{#each groups as |group|}}
          <span data-type="group" data-id="{{group.id}}" class="tag is-info is-outlined">{{group.group_name}}</span>
          {{/each}}
        </span>
      </article>
      <article class="tile is-child">
        <h3 class="tag is-large is-dark">Your bulletins</h3>
        <span class="tags are-medium">
          {{#each bulletins as |bulletin|}}
          <span data-type="bulletin" data-id="{{bulletin.id}}" class="tag is-info is-outlined">{{bulletin.bulletin_name}}</span>
          {{/each}}
        </span>
      </article>
    </div>