    <div class="tile is-parent is-vertical">
      <article class="tile is-child">
        <h3 class="tag is-large is-dark">Your groups</h3>
        <span class="tags are-medium">
          <span class="tag is-info">the Troubadours</span>
          <span class="tag is-info">the Wombats</span>
          <span class="tag is-info">the Jets</span>
          <span class="tag is-info">the Sharks</span>
        </span>
      </article>
      <article class="tile is-child">
        <h3 class="tag is-large is-dark">Your bulletins</h3>
        <span class="tags are-medium">
          <span class="tag is-info is-light">kitchen app</span>
          <span class="tag is-info is-light">quiz app</span>
          <span class="tag is-info is-light">flying monkeys</span>
          <span class="tag is-info is-light">mashed potatoes</span>
          <span class="tag is-info is-light">movie finder</span>
          <span class="tag is-info is-light">pixel art game</span>
          <span class="tag is-info is-light">microsoft paint clone</span>
          <span class="tag is-info is-light">beer review app</span>
        </span>
      </article>
    </div>