    <div class="tile is-parent is-vertical records-panel">
      <article class="tile is-child">
        <h3 class="tag is-large is-dark">Your groups</h3>
        <span class="tags are-medium">
          {{#each groups as |group|}}
          <span class="tag is-info is-outlined">{{group.group_name}}</span>
          {{/each}}
        </span>
      </article>
      <article class="tile is-child">
        <h3 class="tag is-large is-dark">Your bulletins</h3>
        <span class="tags are-medium">
          <span class="tag is-info is-outlined">kitchen app</span>
          <span class="tag is-info is-outlined">quiz app</span>
          <span class="tag is-info is-outlined">flying monkeys</span>
          <span class="tag is-info is-outlined">mashed potatoes</span>
          <span class="tag is-info is-outlined">movie finder</span>
          <span class="tag is-info is-outlined">pixel art game</span>
          <span class="tag is-info is-outlined">microsoft paint clone</span>
          <span class="tag is-info is-outlined">beer review app</span>
        </span>
      </article>
    </div>