<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Virtual Bulletin</title>
  <link rel="shortcut icon" type="image/png" href="/assets/images/bulletin-icon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header class="hero">
    <div class="hero-body is-offset-1">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="nav-menu">
          <div class="navbar-item title">
            <a class="button is-large is-outlined is-dark" href="/">
              Virtual Bulletins
            </a>
          </div>
          <div class="navbar-item">
        {{#if logged_in}}
            <a id="dashboard" class="button is-info is-light" href="/dashboard">dashboard</a>
            <a id="logout" class="button is-danger is-light">logout</a>
        {{else}}
            <a id="login" class="navbar-item" href="/login">login</a>
        {{/if}}    
          </div>
          <p class="subtitle">Make bulletins to share resources with your team</p>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>