<section class="tile is-ancestor dashboard is-vertical">
  <div class="tile">
    <div class="tile is-parent is-6 greeting-container">
      <p class="greeting tile is-child">Greetings, {{name}}! Welcome to your virtual bulletin dashboard!</p>
    </div>
    {{> messagePanel }}
  </div>
  <div class="tile">
    {{> actionsPanel}}
    {{> recordsPanel}}
  </div>
</section>

<script src="/js/toggleForm.js"></script>
<script src="/js/dashboard.js"></script>