<section class="intro">
  <p>
    Use this app as a hub for research materials that you wish to share with a group.
  </p>
  <p>
    <img src="/assets/images/create-group-photo.PNG" alt="photo of dashboard">
    Users are given the option to create groups and invite others to join. From there, you can create bulletins to
    share with that group.
    <img src="/assets/images/invitation-photo.PNG" alt="photo of invite">
  </p>
  <p>
    Posts can be made to those bulletins the same way you would in the real world!
    <img src="/assets/images/bulletin-photo.PNG" alt="photo of bulletin with cards">
  </p>
</section>
<section class="section is-small about">
  <a class="title button is-link is-4" href="/login">Get started!</a>
</section>
{{> footer}}