<section class="form-container columns">

  <form class="login column">
    <h2 class="title">Been here before?</h2>
    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input id="login-email" class="input" type="email" placeholder="email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Password
      </label>
      <div class="control has-icons-left has-icons-right">
        <input id="login-password" class="input" type="password" placeholder="password">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-primary">login</button>
      </div>
    </div>
  </form>

  <form class="sign-up column">
    <h2 class="title">Get started here:</h2>

    <div class="field">
      <label class="label">Name</label>
      <div class="control has-icons-left has-icons-right">
        <input id="name" class="input" type="text" placeholder="name">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input id="email" class="input" type="email" placeholder="email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Password
      </label>
      <div class="control has-icons-left has-icons-right">
        <input id="password" class="input" type="password" placeholder="password">
        <span class="icon is-small is-left">
          <i class="fa-solid fa-lock"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Confirm Password
      </label>
      <div class="control has-icons-left has-icons-right">
        <input id="password-confirm" class="input" type="password" placeholder="confirm password">
        <span class="icon is-small is-left">
          <i class="fa-solid fa-lock"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-success">sign up</button>
      </div>
    </div>
  </form>

</section>

<script src="/js/login.js"></script>