/* ==== Imports ==== */

@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Mochiy+Pop+P+One&family=Roboto+Slab:wght@300;400;700&display=swap');

/* ==== Variables ==== */

:root {
  /* colors */

  --white-green: #ecf1e7;

  --cornsilk-50: #fff8dc;
  --cornsilk-70: #dfdbcd;

  --white: #fff;
  --black: #000;
  --grey-40: #d6cece;
  --grey-45: #9e9a9aec;
  --grey-50: #cdc9c985;
  --grey-80: #00000099;

  --ff-primary: 'Roboto Slab', serif;
  --ff-placeholder: 'Electrolize', sans-serif;
  --ff-title: 'Mochiy Pop P One', sans-serif;

  --transition: all 0.3s ease-out;
}

/* ==== Defaults ==== */

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: var(--white-green);
  font-family: var(--ff-primary);
}
img {
  width: 100%;
}

/* ==== Bulletin Board */

.board {
  height: 100vh;
  background: url("../assets/images/cork-bg.jpg");
  position: relative;
}
.bulletin-card {
  position: absolute;
  padding: 1rem;
  background: var(--cornsilk-50);
  border-radius: 0.5rem;
  box-shadow: inset 0px 0px 14px 8px #142205, 1px 3px 7px -1px;
}

/* ==== Input Form ==== */

.post {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1rem;
  background: var(--grey-80);
  color: var(--white);
  box-shadow: 7px 6px 14px -4px var(--black);
  border: 2px solid var(--grey-45);
  border-radius: 0.25rem;
  border-top-left-radius: 4rem;
}

section.form-container {
  align-items: center;
  padding: 1rem 10%;
  gap: 6rem;
}

section.form-container > * {
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 20px 2px var(--grey-80);
  border-radius: 1rem;
}


.icon-container {
  display: flex;
  justify-content: flex-end;
}
.icon-container * {
  padding: 0 1rem;
  transition: var(--transition);
}
.icon-container *:hover {
  transform: scale(1.2);
}
.close-icon {
  text-align: right;
  color: #d93f3f;
}
textarea {
  background: var(--grey-50);
  box-shadow: 0px 0px 3px 3px #89b1b5;
  font-size: 1.2rem;
  font-family: var(--ff-primary);
}
::placeholder {
  color: var(--grey-40);
  font-size: 1.05rem;
  font-family: var(--ff-placeholder);
}
#heading,
#content {
  margin-top: 1rem;
}
#link,
#image {
  height: 0;
  transition: var(--transition);
  font-size: 0.85rem;
  visibility: hidden;
}

/* ==== Dashboard ==== */

article h3 {
  margin-bottom: 1rem;
}

p.greeting {
  padding-left: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
}

/* ==== Bulma mods ==== */

div.title {
  display: flex;
  flex-direction: column;
}

.hero {
  background: var(--cornsilk-70);
  box-shadow: inset 0px -10px 20px 3px var(--white-green);
}

a.navbar-item {
  margin: 0.5rem 5%;
  width: 125px;
}
.subtitle {
  text-align: center;
}

@media screen and (min-width: 600px) {
    .hero {
      flex-direction: row;
      align-items: center;
    }
    div.title {
      flex-direction: row;
      justify-content: center;
    }
}

/* hide class always at bottom */
.hide {
  display: none;
}