/* ==== Imports ==== */

@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Mochiy+Pop+P+One&family=Roboto+Slab:wght@300;400;700&display=swap');

/* ==== Variables ==== */

:root {
  /* colors */

  --white-green: #ecf1e7;
  --light-green: #d0e4bc;

  --cornsilk-50: #fff8dc;
  --cornsilk-70: #dfdbcd;
  
  --post-it: #fff1bc;
  --abyss: #070522;

  --white: #fff;
  --black: #000;
  --grey-40: #d6cece;
  --grey-45: #9e9a9aec;
  --grey-50: #cdc9c985;
  --grey-80: #00000099;

  --ff-primary: 'Roboto Slab', serif;
  --ff-placeholder: 'Electrolize', sans-serif;
  --ff-title: 'Mochiy Pop P One', sans-serif;

  --transition: all 0.3s ease-out;
}

/* ==== Defaults ==== */

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--white-green);
  font-family: var(--ff-primary);
}

header,
section.tile,
form.post {
  transition: all 0.3s;
}

img {
  width: 100%;
}

button.button.is-info {
  margin-bottom: 0.2rem;
}

button.button:hover,
li.button:hover {
  filter: brightness(1.2);
}

/* ==== Bulletin Board */

section.board {
  height: 100vh;
  overflow: auto;
  background: url("../assets/images/cork-bg.jpg");
  position: relative;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

section.board::-webkit-scrollbar {
  display: none;
}

div.bulletin-card {
  max-width: 340px;
  position: absolute;
  padding: 1rem;
  background: var(--post-it);
  border-radius: 0.4rem;
  box-shadow: inset 0px 0px 14px 8px #050505;
}
h3.card-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.35rem;
  padding-left: 0.35rem;
}

p.card-body {
  padding: 0.15rem;
}

a.card-link {
  padding: 0.25rem;
  color: purple;
}

section.menu {
  display: flex;
  gap: 25%;
}

section.menu h2 {
  background: #d7d0d0d9;
  padding: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/* ==== Input Form ==== */

form.post {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1rem;
  background: var(--grey-80);
  color: var(--white);
  box-shadow: 7px 6px 14px -4px var(--black);
  border: 2px solid var(--grey-45);
  border-radius: 0.25rem;
  border-top-left-radius: 4rem;
}

form.post button.button {
  margin: 1rem auto 0;
  padding: 0 1.5rem;
  border-radius: 4rem;
}

section.form-container {
  align-items: center;
  padding: 1rem 10%;
  gap: 6rem;
}

section.form-container > * {
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 20px 2px var(--grey-80);
  border-radius: 1rem;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
}
.icon-container * {
  padding: 0 1rem;
  transition: var(--transition);
}
.icon-container *:hover {
  transform: scale(1.2);
}
.close-icon,
.form-close {
  text-align: right;
  color: #e84f4f;
}
textarea {
  background: var(--grey-50);
  box-shadow: 0px 0px 3px 3px #89b1b5;
  font-size: 1.2rem;
  font-family: var(--ff-primary);
}
::placeholder {
  color: var(--grey-40);
  font-size: 1.05rem;
  font-family: var(--ff-placeholder);
}
#heading,
#content {
  margin-top: 1rem;
}
#link,
#image {
  height: 0;
  transition: var(--transition);
  font-size: 0.85rem;
  visibility: hidden;
}

/* ==== Dashboard ==== */

article h3 {
  margin-bottom: 1rem;
}

div.greeting-container {
  align-items: center;
}

p.greeting {
  padding-left: 6%;
  font-size: 1.5rem;
  font-weight: 600;
}

div.messages-panel {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.messages-panel > p {
  display: flex;
  gap: 0.2rem;
  font-size: 1.2rem;
  background: var(--light-green);
  padding-left: 0.4rem;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

table.table.messages {
  animation: dropdown 1s;
}

table.table.messages i {
  font-size: 1.3rem;
}
table.table.messages i:hover{
  cursor: pointer;
  filter: brightness(1.2);
}

div.tile.action-panel {
  margin: auto;
  padding: 2rem;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
}

div.tile.records-panel {
  box-shadow: 0 0 5px 5px var(--grey-40);
}

form.group,
form.bulletin,
form.invite-member,
form.group-settings {
  box-shadow: 0 -52px 32px 11px var(--grey-50);
  animation: dropdown 0.5s;
}

span[data-type="group"],
span[data-type="bulletin"] {
  cursor: pointer;
}

span[data-type="group"]:hover,
span[data-type="bulletin"]:hover {
  filter: brightness(1.25);
}

/* ==== Group dashboard ==== */


section.group-interface {
  display: grid;
  place-items: center;
  box-shadow: 0 52px 32px 11px var(--grey-50);
}

section.group-interface form {
  min-width: 295px;
}

section.user-interface {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 5rem;
  min-width: 360px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: 0 0 55px 5px var(--grey-40);
  padding: 2.5rem;
  animation: dropdown 0.7s;
}

section.user-interface ul.member-list li {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  background-color: var(--abyss);
}

section.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  gap: 1rem;
}


/* ==== Bulma mods ==== */

div.title {
  display: flex;
  flex-direction: column;
}

.hero {
  background: var(--cornsilk-70);
  box-shadow: inset 0px -10px 20px 3px var(--white-green);
}

.hero-body {
  align-items: center;
}

a.navbar-item {
  margin: 0.5rem 5%;
  width: 125px;
}
.subtitle {
  text-align: center;
}

/* Media Queries */


@media screen and (min-width: 765px) {
    .hero {
      flex-direction: row;
      align-items: center;
    }
    div.title {
      flex-direction: row;
      justify-content: center;
    }
    section.user-interface > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33%;
      text-align: center;
    }
    section.user-interface {
      flex-direction: row;
      align-items: flex-start;
    }
}

/* Animations */

@keyframes dropdown {
  from {
    margin-top: -5%;
    height: 150%;
    opacity: 0.5;
  }

  to {
    opacity: 1;
    margin-top: 0%;
    height: 100%;
  }
}
@keyframes fade-in {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
    margin-top: 0%;
    height: 100%;
  }
}


/* hide class always at bottom */
.hide {
  display: none !important;
}

